/* mobile  and tablet */
@media (max-width:1023px) {
    .hide-on-tablet-mobile {
        display: none;
    }   
    .content-tablet-mobile {
        flex-direction: column;
       }
       .post-center {
           padding: 0 12px;
       }
       .sub-header__socials {
           order:2;
       }
       .sub-header__logo-link {
           flex: 1;
           margin-top: 10px;
       }
      
       .sub-header__right {
           order: 3;
           margin-right: 16px;
       }
       .post-item__about {
           margin-bottom: 30px;
       }
       .btn {
           width: 100%;
           margin-bottom: 40px;
           text-align: center;
       }
       .content-tablet-mobile {
           margin: 0 10px;
       }
    }

/* tablet */
@media (min-width:740px) and (max-width:1023px) {
    .hide-on-tablet {
        display: none;
    }
    .sub-header__logo {
        width: 200px;
    }
}

/* mobile */
@media (max-width:739px) {
    .hide-on-mobile {
        display: none;
    }
    .sub-header__logo {
        width: 120px;
    }
}

